.reddit-card {
    text-align: center;
    padding: 10px;
    background: #eee;
    min-width: 300px;
}

.reddit-card a {
    display: block;
    margin: 10px 0;
}

.reddit-post {
    display: flex;
    align-items: center;
}

.reddit-post img {
    margin-right: 10px
}